* {
    /* outline: 5px solid palevioletred; */
    color: #66fcf1;
}

body {
    margin: 2em;
    background-color: #1f2833;
}

.header {
    background-color: #0b0c10;
    margin-left: -2em;
    margin-right: -2em;
    margin-top: -2em;
    border-bottom: 5px solid #49a29e;
}

.header a {
    font-size: 18px;
}

.footer {
    background-color: #0b0c10;
    margin-left: -2em;
    margin-right: -2em;
    margin-bottom: -2em;
    margin-top: 7em;
    border-top: 5px solid #49a29e;
}

.foot-image {
    width: 4em;
}