{% extends "base.html" %}

{% block content %}

<h2>Edit Your Snippet!</h2>

<form action="{% url 'edit_snippet' snippet_pk=snippet.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button type="submit">Edit Snippet</button>
    </div>
</form>


<h1><a href="{% url 'snippet_detail' snippet_pk=snippet.pk %}">Snippets</a></h1>
<h1><a href="{% url 'edit_snippet' snippet_pk=snippet.pk %}">Edit Snippets</a></h1>
<h1><a href="{% url 'delete_snippet' snippet_pk=snippet.pk %}">Delete Snippets</a></h1>

{% endblock %}